# Chapter 6

Function	Description
read_csv	Load delimited data from a file, URL, or file-like object; use comma as default delimiter
read_fwf	Read data in fixed-width column format (i.e., no delimiters)
read_clipboard	Variation of read_csv that reads data from the clipboard; useful for converting tables from web pages
read_excel	Read tabular data from an Excel XLS or XLSX file
read_hdf	Read HDF5 files written by pandas
read_html	Read all tables found in the given HTML document
read_json	Read data from a JSON (JavaScript Object Notation) string representation, file, URL, or file-like object
read_feather	Read the Feather binary file format
read_orc	Read the Apache ORC binary file format
read_parquet	Read the Apache Parquet binary file format
read_pickle	Read an object stored by pandas using the Python pickle format
read_sas	Read a SAS dataset stored in one of the SAS system's custom storage formats
read_spss	Read a data file created by SPSS
read_sql	Read the results of a SQL query (using SQLAlchemy)
read_sql_table	Read a whole SQL table (using SQLAlchemy); equivalent to using a query that selects everything in that table using read_sql
read_stata	Read a dataset from Stata file format
read_xml	Read a table of data from an XML file

In [1]:
!cat examples/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("examples/ex1.csv")

In [7]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [8]:
!cat examples/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [10]:
pd.read_csv("examples/ex2.csv", header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [12]:
pd.read_csv("examples/ex2.csv", names=["a", "b", "c", "d", "message"])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [14]:
names = ["a", "b", "c", "d", "message"]

In [15]:
pd.read_csv("examples/ex2.csv", names=names, index_col="message")

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [16]:
!cat examples/csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [17]:
parsed = pd.read_csv("examples/csv_mindex.csv",
                     index_col=["key1", "key2"])

In [18]:
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [19]:
!cat examples/ex3.txt

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [23]:
result = pd.read_csv("examples/ex3.txt", sep="\\s+")

In [24]:
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [25]:
!cat examples/ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [28]:
pd.read_csv("examples/ex4.csv", skiprows=[0,  2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [29]:
!cat examples/ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [30]:
result = pd.read_csv("examples/ex5.csv")

In [31]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [32]:
pd.isna(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [33]:
result = pd.read_csv("examples/ex5.csv", na_values=["NULL"])

In [34]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [35]:
result2 = pd.read_csv("examples/ex5.csv", keep_default_na=False)

In [37]:
result2

  something  a   b   c   d message
0       one  1   2   3   4      NA
1       two  5   6       8   world
2     three  9  10  11  12     foo

In [38]:
result2.isna()

   something      a      b      c      d  message
0      False  False  False  False  False    False
1      False  False  False  False  False    False
2      False  False  False  False  False    False

In [40]:
result3 = pd.read_csv("examples/ex5.csv", keep_default_na=False,
                      na_values=["NA"])

In [41]:
sentinels = {"message": ["foo", "NA"], "something": ["two"]}

In [42]:
pd.read_csv("examples/ex5.csv", na_values=sentinels,
            keep_default_na=False)

  something  a   b   c   d message
0       one  1   2   3   4     NaN
1       NaN  5   6       8   world
2     three  9  10  11  12     NaN

Argument	Description
path	String indicating filesystem location, URL, or file-like object.
sep or delimiter	Character sequence or regular expression to use to split fields in each row.
header	Row number to use as column names; defaults to 0 (first row), but should be None if there is no header row.
index_col	Column numbers or names to use as the row index in the result; can be a single name/number or a list of them for a hierarchical index.
names	List of column names for result.
skiprows	Number of rows at beginning of file to ignore or list of row numbers (starting from 0) to skip.
na_values	Sequence of values to replace with NA. They are added to the default list unless keep_default_na=False is passed.
keep_default_na	Whether to use the default NA value list or not (True by default).
comment	Character(s) to split comments off the end of lines.
parse_dates	Attempt to parse data to datetime; False by default. If True, will attempt to parse all columns. Otherwise, can specify a list of column numbers or names to parse. If element of list is tuple or list, will combine multiple columns together and parse to date (e.g., if date/time split across two columns).
keep_date_col	If joining columns to parse date, keep the joined columns; False by default.
converters	Dictionary containing column number or name mapping to functions (e.g., {"foo": f} would apply the function f to all values in the "foo" column).
dayfirst	When parsing potentially ambiguous dates, treat as international format (e.g., 7/6/2012 -> June 7, 2012); False by default.
date_parser	Function to use to parse dates.
nrows	Number of rows to read from beginning of file (not counting the header).
iterator	Return a TextFileReader object for reading the file piecemeal. This object can also be used with the with statement.
chunksize	For iteration, size of file chunks.
skip_footer	Number of lines to ignore at end of file.
verbose	Print various parsing information, like the time spent in each stage of the file conversion and memory use information.
encoding	Text encoding (e.g., "utf-8 for UTF-8 encoded text). Defaults to "utf-8" if None.
squeeze	If the parsed data contains only one column, return a Series.
thousands	Separator for thousands (e.g., "," or "."); default is None.
decimal	Decimal separator in numbers (e.g., "." or ","); default is ".".
engine	CSV parsing and conversion engine to use; can be one of "c", "python", or "pyarrow". The default is "c", though the newer "pyarrow" engine can parse some files much faster. The "python" engine is slower but supports some features that the other engines do not.

In [49]:
pd.options.display.max_rows = 20

In [50]:
result = pd.read_csv("examples/ex6.csv")

In [51]:
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [52]:
pd.read_csv("examples/ex6.csv", nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

To read a file in pieces, specify a chunksize as a number of rows:

In [54]:
chunker = pd.read_csv("examples/ex6.csv", chunksize=1000)

In [55]:
type(chunker)

pandas.io.parsers.readers.TextFileReader

In [57]:
chunker = pd.read_csv("examples/ex6.csv", chunksize = 1000)

In [58]:
tot = pd.Series([], dtype='int64')
for piece in chunker:
    tot = tot.add(piece["key"].value_counts(), fill_value=0)

In [59]:
tot[:10]

key
0    151.0
1    146.0
2    152.0
3    162.0
4    171.0
5    157.0
6    166.0
7    164.0
8    162.0
9    150.0
dtype: float64

In [60]:
tot = tot.sort_values(ascending=False)

In [61]:
tot[:10]

key
E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

In [62]:
data = pd.read_csv("examples/ex5.csv")

In [63]:
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [64]:
data.to_csv("examples/out.csv")

In [65]:
!cat examples/out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [66]:
import sys

In [67]:
data.to_csv(sys.stdout, sep="|")

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [69]:
data.to_csv(sys.stdout, na_rep="NULL")   # Missing values appear as empty strings in the output. You might want to denote them by some other sentinel value:

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [70]:
data.to_csv(sys.stdout, index=False, header=False)  #header and index are disabled

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [71]:
data.to_csv(sys.stdout, index=False, columns=["a", "b", "c"])

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [72]:
!cat examples/ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [73]:
import csv

In [74]:
f = open("examples/ex7.csv")

In [75]:
reader = csv.reader(f)

In [76]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [77]:
f.close()

In [79]:
with open("examples/ex7.csv") as f:
    lines = list(csv.reader(f))

In [80]:
header, values = lines[0], lines[1:]

In [81]:
data_dict = {h: v for h, v in zip(header, zip(*values))}

In [82]:
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [84]:
class my_dialect(csv.Dialect):
    lineterminator = "\n"
    delimiter = ";"
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL

In [93]:
with open("examples/ex7.csv") as f:
    reader = csv.reader(f, dialect=my_dialect)

In [96]:
with open("examples/ex7.csv") as f:
    lines = list(csv.reader(f, dialect=my_dialect))

In [98]:
with open("examples/ex7.csv") as f:
    reader = csv.reader(f, delimiter="|")

Argument	Description
delimiter	One-character string to separate fields; defaults to ",".
lineterminator	Line terminator for writing; defaults to "\r\n". Reader ignores this and recognizes cross-platform line terminators.
quotechar	Quote character for fields with special characters (like a delimiter); default is '"'.
quoting	Quoting convention. Options include csv.QUOTE_ALL (quote all fields), csv.QUOTE_MINIMAL (only fields with special characters like the delimiter), csv.QUOTE_NONNUMERIC, and csv.QUOTE_NONE (no quoting). See Python’s documentation for full details. Defaults to QUOTE_MINIMAL.
skipinitialspace	Ignore whitespace after each delimiter; default is False.
doublequote	How to handle quoting character inside a field; if True, it is doubled (see online documentation for full detail and behavior).
escapechar	String to escape the delimiter if quoting is set to csv.QUOTE_NONE; disabled by default.

In [99]:
with open("mydata.csv", "w") as f:
    writer = csv.writer(f, dialect=my_dialect)
    writer.writerow(("one", "two", "three"))
    writer.writerow(("1", "2", "3"))
    writer.writerow(("4", "5", "6"))
    writer.writerow(("7", "8", "9"))

JSON Data

In [100]:
obj = """
{"name": "Wes",
 "cities_lived": ["Akron", "Nashville", "New York", "San Francisco"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 34, "hobbies": ["guitars", "soccer"]},
              {"name": "Katie", "age": 42, "hobbies": ["diving", "art"]}]
}
"""

In [101]:
import json

In [102]:
result = json.loads(obj)

In [103]:
result

{'name': 'Wes',
 'cities_lived': ['Akron', 'Nashville', 'New York', 'San Francisco'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 34, 'hobbies': ['guitars', 'soccer']},
  {'name': 'Katie', 'age': 42, 'hobbies': ['diving', 'art']}]}

In [104]:
{'name': 'Wes',
 'cities_lived': ['Akron', 'Nashville', 'New York', 'San Francisco'],
 'pet': None,
 'siblings': [{'name': 'Scott',
   'age': 34,
   'hobbies': ['guitars', 'soccer']},
  {'name': 'Katie', 'age': 42, 'hobbies': ['diving', 'art']}]}

{'name': 'Wes',
 'cities_lived': ['Akron', 'Nashville', 'New York', 'San Francisco'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 34, 'hobbies': ['guitars', 'soccer']},
  {'name': 'Katie', 'age': 42, 'hobbies': ['diving', 'art']}]}

In [105]:
asjson = json.dumps(result)

In [106]:
asjson

'{"name": "Wes", "cities_lived": ["Akron", "Nashville", "New York", "San Francisco"], "pet": null, "siblings": [{"name": "Scott", "age": 34, "hobbies": ["guitars", "soccer"]}, {"name": "Katie", "age": 42, "hobbies": ["diving", "art"]}]}'

In [107]:
siblings = pd.DataFrame(result["siblings"], columns=["name", "age"])

In [108]:
siblings

    name  age
0  Scott   34
1  Katie   42

In [109]:
!cat examples/example.json

[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

In [111]:
data = pd.read_json("examples/example.json")

In [112]:
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [113]:
In [78]: data.to_json(sys.stdout)

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

In [114]:
data.to_json(sys.stdout, orient="records")

[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

In [115]:
conda install lxml beautifulsoup4 html5lib

Retrieving notices: ...working... done
Channels:
 - defaults
 - conda-forge
Platform: osx-arm64
Collecting package metadata (repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /Users/deepa/Library/jupyterlab-desktop/jlab_server

  added / updated specs:
    - beautifulsoup4
    - html5lib
    - lxml


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    html5lib-1.1               |     pyhd3eb1b0_0          91 KB
    ------------------------------------------------------------
                                           Total:          91 KB

The following NEW packages will be INSTALLED:

  html5lib           pkgs/main/noarch::html5lib-1.1-pyhd3eb1b0_0



Downloading and Extracting Packages:

Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [116]:
tables = pd.read_html("examples/fdic_failed_bank_list.html")

In [117]:
len(tables)

1

In [118]:
failures = tables[0]

In [119]:
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [121]:
close_timestamps = pd.to_datetime(failures["Closing Date"])

In [123]:
close_timestamps.dt.year.value_counts()

Closing Date
2010    157
2009    140
2011     92
2012     51
2008     25
2013     24
2014     18
2002     11
2015      8
2016      5
2004      4
2001      4
2007      3
2003      3
2000      2
Name: count, dtype: int64

In [138]:
from lxml import objectify

In [152]:
path = "/Users/deepa/Documents/Projects/WesCh5/pydata-book/datasets/mta_perf/Performance_MNR.xml"

# Open the file
with open(path) as f:
    parsed = objectify.parse(f)

In [153]:
root = parsed.getroot()

In [154]:
data = []

skip_fields = ["PARENT_SEQ", "INDICATOR_SEQ",
               "DESIRED_CHANGE", "DECIMAL_PLACES"]

for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

In [155]:
perf = pd.DataFrame(data)

In [156]:
perf.head()

,AGENCY_NAME,INDICATOR_NAME,DESCRIPTION,PERIOD_YEAR,PERIOD_MONTH,CATEGORY,FREQUENCY,INDICATOR_UNIT,YTD_TARGET,YTD_ACTUAL,MONTHLY_TARGET,MONTHLY_ACTUAL
0,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,1,Service Indicators,M,%,95.0,96.9,95.0,96.9
1,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,2,Service Indicators,M,%,95.0,96.0,95.0,95.0
2,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,3,Service Indicators,M,%,95.0,96.3,95.0,96.9
3,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,4,Service Indicators,M,%,95.0,96.8,95.0,98.3
4,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,5,Service Indicators,M,%,95.0,96.6,95.0,95.8

In [159]:
perf2 = pd.read_xml(path)

In [160]:
perf2.head()

,INDICATOR_SEQ,PARENT_SEQ,AGENCY_NAME,INDICATOR_NAME,DESCRIPTION,PERIOD_YEAR,PERIOD_MONTH,CATEGORY,FREQUENCY,DESIRED_CHANGE,INDICATOR_UNIT,DECIMAL_PLACES,YTD_TARGET,YTD_ACTUAL,MONTHLY_TARGET,MONTHLY_ACTUAL
0,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,1,Service Indicators,M,U,%,1,95.00,96.90,95.00,96.90
1,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,2,Service Indicators,M,U,%,1,95.00,96.00,95.00,95.00
2,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,3,Service Indicators,M,U,%,1,95.00,96.30,95.00,96.90
3,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,4,Service Indicators,M,U,%,1,95.00,96.80,95.00,98.30
4,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,5,Service Indicators,M,U,%,1,95.00,96.60,95.00,95.80

In [161]:
frame = pd.read_csv("examples/ex1.csv")

In [162]:
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [163]:
frame.to_pickle("examples/frame_pickle")

In [164]:
pd.read_pickle("examples/frame_pickle")

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [167]:
conda install pyarrow

Channels:
 - defaults
 - conda-forge
Platform: osx-arm64
Collecting package metadata (repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /Users/deepa/Library/jupyterlab-desktop/jlab_server

  added / updated specs:
    - pyarrow


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    arrow-cpp-11.0.0           |  hce30654_60_cpu          38 KB  conda-forge
    aws-c-auth-0.7.15          |       h8117f06_0          87 KB  conda-forge
    aws-c-cal-0.6.9            |       h4fd42c2_3          39 KB  conda-forge
    aws-c-common-0.9.12        |       h93a5062_0         199 KB  conda-forge
    aws-c-compression-0.2.17   |       h4fd42c2_8          18 KB  conda-forge
    aws-c-event-stream-0.4.1   |       hf6cc7c5_5          46 KB  conda-forge
    aws-c-http-0.8.0           |       hf1748bb_5         148 KB  conda-forge
    aws-c-io-0.14.3            |       h8daa835_1         134 KB  conda-forge
    aws-c-mqtt-0.10.1          |       h7f0f801_3         115 KB  conda-forge
    aws-c-s3-0.5.0             |       hbb97ff1_2          88 KB  conda-forge
    aws-c-sdkutils-0.1.14      |       h4fd42c2_0          48 KB  conda-forge
    aws-checksums-0.1.17       |       h4fd42c2_7          48 KB  conda-forge
    aws-crt-cpp-0.26.1         |       h9b04f48_9         213 KB  conda-forge
    aws-sdk-cpp-1.11.242       |       h26e3666_0         3.3 MB  conda-forge
    boost-cpp-1.84.0           |       hca5e981_2          16 KB  conda-forge
    gflags-2.2.2               |       h313beb8_1         125 KB
    glog-0.6.0                 |       h6da1cb0_0          95 KB  conda-forge
    libabseil-20230802.1       | cxx17_h13dd4ca_0         1.1 MB  conda-forge
    libarrow-11.0.0            |  h2f53e1b_60_cpu        16.8 MB  conda-forge
    libboost-1.84.0            |       h8e0f962_2         1.8 MB  conda-forge
    libboost-devel-1.84.0      |       hf450f58_2          38 KB  conda-forge
    libboost-headers-1.84.0    |       hce30654_2        13.2 MB  conda-forge
    libcrc32c-1.1.2            |       hc377ac9_0          18 KB
    libevent-2.1.12            |       h02f6b3c_1         391 KB
    libgoogle-cloud-2.12.0     |       h49bbb43_5        29.9 MB  conda-forge
    libgrpc-1.60.1             |       hfc68871_0         4.3 MB  conda-forge
    libprotobuf-4.25.1         |       h810fc01_2         2.1 MB  conda-forge
    libre2-11-2023.09.01       |       h741fcf5_1         167 KB  conda-forge
    libthrift-0.19.0           |       h026a170_1         323 KB  conda-forge
    libutf8proc-2.8.0          |       h1a8c8d9_0         101 KB  conda-forge
    orc-1.9.2                  |       hb41d57e_1         397 KB  conda-forge
    pyarrow-11.0.0             |  py312h8604a13_2         3.3 MB
    re2-2023.09.01             |       h4cba328_1          26 KB  conda-forge
    snappy-1.1.10              |       h313beb8_1          37 KB
    ------------------------------------------------------------
                                           Total:        78.5 MB

The following NEW packages will be INSTALLED:

  arrow-cpp          conda-forge/osx-arm64::arrow-cpp-11.0.0-hce30654_60_cpu
  aws-c-auth         conda-forge/osx-arm64::aws-c-auth-0.7.15-h8117f06_0
  aws-c-cal          conda-forge/osx-arm64::aws-c-cal-0.6.9-h4fd42c2_3
  aws-c-common       conda-forge/osx-arm64::aws-c-common-0.9.12-h93a5062_0
  aws-c-compression  conda-forge/osx-arm64::aws-c-compression-0.2.17-h4fd42c2_8
  aws-c-event-stream conda-forge/osx-arm64::aws-c-event-stream-0.4.1-hf6cc7c5_5
  aws-c-http         conda-forge/osx-arm64::aws-c-http-0.8.0-hf1748bb_5
  aws-c-io           conda-forge/osx-arm64::aws-c-io-0.14.3-h8daa835_1
  aws-c-mqtt         conda-forge/osx-arm64::aws-c-mqtt-0.10.1-h7f0f801_3
  aws-c-s3           conda-forge/osx-arm64::aws-c-s3-0.5.0-hbb97ff1_2
  aws-c-sdkutils     conda-forge/osx-arm64::aws-c-sdkutils-0.1.14-h4fd42c2_0
  aws-checksums      conda-forge/osx-arm64::aws-checksums-0.1.17-h4fd42c2_7
  aws-crt-cpp        conda-forge/osx-arm64::aws-crt-cpp-0.26.1-h9b04f48_9
  aws-sdk-cpp        conda-forge/osx-arm64::aws-sdk-cpp-1.11.242-h26e3666_0
  boost-cpp          conda-forge/osx-arm64::boost-cpp-1.84.0-hca5e981_2
  gflags             pkgs/main/osx-arm64::gflags-2.2.2-h313beb8_1
  glog               conda-forge/osx-arm64::glog-0.6.0-h6da1cb0_0
  libabseil          conda-forge/osx-arm64::libabseil-20230802.1-cxx17_h13dd4ca_0
  libarrow           conda-forge/osx-arm64::libarrow-11.0.0-h2f53e1b_60_cpu
  libboost           conda-forge/osx-arm64::libboost-1.84.0-h8e0f962_2
  libboost-devel     conda-forge/osx-arm64::libboost-devel-1.84.0-hf450f58_2
  libboost-headers   conda-forge/osx-arm64::libboost-headers-1.84.0-hce30654_2
  libcrc32c          pkgs/main/osx-arm64::libcrc32c-1.1.2-hc377ac9_0
  libevent           pkgs/main/osx-arm64::libevent-2.1.12-h02f6b3c_1
  libgoogle-cloud    conda-forge/osx-arm64::libgoogle-cloud-2.12.0-h49bbb43_5
  libgrpc            conda-forge/osx-arm64::libgrpc-1.60.1-hfc68871_0
  libprotobuf        conda-forge/osx-arm64::libprotobuf-4.25.1-h810fc01_2
  libre2-11          conda-forge/osx-arm64::libre2-11-2023.09.01-h741fcf5_1
  libthrift          conda-forge/osx-arm64::libthrift-0.19.0-h026a170_1
  libutf8proc        conda-forge/osx-arm64::libutf8proc-2.8.0-h1a8c8d9_0
  orc                conda-forge/osx-arm64::orc-1.9.2-hb41d57e_1
  pyarrow            pkgs/main/osx-arm64::pyarrow-11.0.0-py312h8604a13_2
  re2                conda-forge/osx-arm64::re2-2023.09.01-h4cba328_1
  snappy             pkgs/main/osx-arm64::snappy-1.1.10-h313beb8_1



Downloading and Extracting Packages:
libgoogle-cloud-2.12 | 29.9 MB   |                                       |   0%
libarrow-11.0.0      | 16.8 MB   |                                       |   0%

libboost-headers-1.8 | 13.2 MB   |                                       |   0%


libgrpc-1.60.1       | 4.3 MB    |                                       |   0%



pyarrow-11.0.0       | 3.3 MB    |                                       |   0%




aws-sdk-cpp-1.11.242 | 3.3 MB    |                                       |   0%





libprotobuf-4.25.1   | 2.1 MB    |                                       |   0%






libboost-1.84.0      | 1.8 MB    |                                       |   0%







libabseil-20230802.1 | 1.1 MB    |                                       |   0%








orc-1.9.2            | 397 KB    |                                       |   0%









libevent-2.1.12      | 391 KB    |                                       |   0%










libthrift-0.19.0     | 323 KB    |                                       |   0%











aws-crt-cpp-0.26.1   | 213 KB    |                                       |   0%












aws-c-common-0.9.12  | 199 KB    |                                       |   0%













libre2-11-2023.09.01 | 167 KB    |                                       |   0%














aws-c-http-0.8.0     | 148 KB    |                                       |   0%















aws-c-io-0.14.3      | 134 KB    |                                       |   0%
















gflags-2.2.2         | 125 KB    |                                       |   0%

















aws-c-mqtt-0.10.1    | 115 KB    |                                       |   0%


















libutf8proc-2.8.0    | 101 KB    |                                       |   0%



















glog-0.6.0           | 95 KB     |                                       |   0%




















aws-c-s3-0.5.0       | 88 KB     |                                       |   0%





















aws-c-auth-0.7.15    | 87 KB     |                                       |   0%






















 ... (more hidden) ...



pyarrow-11.0.0       | 3.3 MB    | 1                                     |   0%
libarrow-11.0.0      | 16.8 MB   |                                       |   0%

libgoogle-cloud-2.12 | 29.9 MB   |                                       |   0%


libgrpc-1.60.1       | 4.3 MB    | 1                                     |   0%
libarrow-11.0.0      | 16.8 MB   | 6                                     |   2%



libgoogle-cloud-2.12 | 29.9 MB   | 2                                     |   1%


libgrpc-1.60.1       | 4.3 MB    | ##                                    |   6%

libboost-headers-1.8 | 13.2 MB   | 7                                     |   2%
libarrow-11.0.0      | 16.8 MB   | #                                     |   3%



pyarrow-11.0.0       | 3.3 MB    | ########4                             |  23%

libboost-headers-1.8 | 13.2 MB   | ##1                                   |   6%


libgrpc-1.60.1       | 4.3 MB    | #######6                              |  21%
libgoogle-cloud-2.12 | 29.9 MB   | 9                                     |   3%



pyarrow-11.0.0       | 3.3 MB    | ############1                         |  33%

libboost-headers-1.8 | 13.2 MB   | ###6                                  |  10%
libarrow-11.0.0      | 16.8 MB   | ##9                                   |   8%


libgoogle-cloud-2.12 | 29.9 MB   | #8                                    |   5%



pyarrow-11.0.0       | 3.3 MB    | ######################5               |  61%
libarrow-11.0.0      | 16.8 MB   | ###6                                  |  10%

libboost-headers-1.8 | 13.2 MB   | ####6                                 |  13%


libgoogle-cloud-2.12 | 29.9 MB   | ##2                                   |   6%

libboost-headers-1.8 | 13.2 MB   | #####6                                |  15%
libarrow-11.0.0      | 16.8 MB   | ####4                                 |  12%



pyarrow-11.0.0       | 3.3 MB    | ###########################4          |  74%


libgrpc-1.60.1       | 4.3 MB    | #################5                    |  47%


libgrpc-1.60.1       | 4.3 MB    | ####################4                 |  55%

libboost-headers-1.8 | 13.2 MB   | ######5                               |  18%
libarrow-11.0.0      | 16.8 MB   | #####1                                |  14%



libgoogle-cloud-2.12 | 29.9 MB   | ###2                                  |   9%

libboost-headers-1.8 | 13.2 MB   | #######4                              |  20%
libarrow-11.0.0      | 16.8 MB   | #####8                                |  16%


libgrpc-1.60.1       | 4.3 MB    | #######################2              |  63%



pyarrow-11.0.0       | 3.3 MB    | ####################################2 |  98%
libarrow-11.0.0      | 16.8 MB   | ######8                               |  18%


libgrpc-1.60.1       | 4.3 MB    | ##########################6           |  72%

libgoogle-cloud-2.12 | 29.9 MB   | ###7                                  |  10%




aws-sdk-cpp-1.11.242 | 3.3 MB    | 1                                     |   0%



pyarrow-11.0.0       | 3.3 MB    | ##################################### | 100%


libgrpc-1.60.1       | 4.3 MB    | ##############################4       |  82%
libarrow-11.0.0      | 16.8 MB   | #######8                              |  21%

libgoogle-cloud-2.12 | 29.9 MB   | ####3                                 |  12%




aws-sdk-cpp-1.11.242 | 3.3 MB    | ##4                                   |   7%


libgrpc-1.60.1       | 4.3 MB    | #################################5    |  91%
libgoogle-cloud-2.12 | 29.9 MB   | ####8                                 |  13%




aws-sdk-cpp-1.11.242 | 3.3 MB    | ####2                                 |  11%

libboost-headers-1.8 | 13.2 MB   | ###########3                          |  31%


libgrpc-1.60.1       | 4.3 MB    | ####################################5 |  99%
libgoogle-cloud-2.12 | 29.9 MB   | #####2                                |  14%




aws-sdk-cpp-1.11.242 | 3.3 MB    | ###########6                          |  32%





libprotobuf-4.25.1   | 2.1 MB    | 2                                     |   1%

libboost-headers-1.8 | 13.2 MB   | ############9                         |  35%
libgoogle-cloud-2.12 | 29.9 MB   | #####7                                |  16%




aws-sdk-cpp-1.11.242 | 3.3 MB    | ###############3                      |  42%





libprotobuf-4.25.1   | 2.1 MB    | ######1                               |  17%


libgrpc-1.60.1       | 4.3 MB    | ##################################### | 100%

libgoogle-cloud-2.12 | 29.9 MB   | ######1                               |  17%
libarrow-11.0.0      | 16.8 MB   | ##########9                           |  30%




aws-sdk-cpp-1.11.242 | 3.3 MB    | ###################6                  |  53%





libprotobuf-4.25.1   | 2.1 MB    | #############1                        |  36%

libboost-headers-1.8 | 13.2 MB   | ###############4                      |  42%
libgoogle-cloud-2.12 | 29.9 MB   | ######7                               |  18%





libprotobuf-4.25.1   | 2.1 MB    | ##################8                   |  51%




aws-sdk-cpp-1.11.242 | 3.3 MB    | #######################5              |  64%
libarrow-11.0.0      | 16.8 MB   | ############9                         |  35%





libgoogle-cloud-2.12 | 29.9 MB   | #######1                              |  19%

libboost-headers-1.8 | 13.2 MB   | ################5                     |  45%




libgoogle-cloud-2.12 | 29.9 MB   | #######5                              |  21%





libprotobuf-4.25.1   | 2.1 MB    | #############################7        |  80%
libarrow-11.0.0      | 16.8 MB   | #############7                        |  37%

libboost-headers-1.8 | 13.2 MB   | #################5                    |  48%




libgoogle-cloud-2.12 | 29.9 MB   | ########                              |  22%
libarrow-11.0.0      | 16.8 MB   | ##############5                       |  39%

libboost-headers-1.8 | 13.2 MB   | ##################8                   |  51%






libgoogle-cloud-2.12 | 29.9 MB   | ########6                             |  23%
libarrow-11.0.0      | 16.8 MB   | ###############5                      |  42%

libboost-headers-1.8 | 13.2 MB   | ####################                  |  54%





libprotobuf-4.25.1   | 2.1 MB    | ##################################### | 100%





libprotobuf-4.25.1   | 2.1 MB    | ##################################### | 100%







libabseil-20230802.1 | 1.1 MB    | 5                                     |   1%






libboost-1.84.0      | 1.8 MB    | #######2                              |  19%
libgoogle-cloud-2.12 | 29.9 MB   | #########1                            |  25%







libabseil-20230802.1 | 1.1 MB    | ###########8                          |  32%

libboost-headers-1.8 | 13.2 MB   | #####################                 |  57%






libboost-1.84.0      | 1.8 MB    | #############4                        |  36%
libgoogle-cloud-2.12 | 29.9 MB   | #########6                            |  26%







libabseil-20230802.1 | 1.1 MB    | #######################2              |  63%

libboost-headers-1.8 | 13.2 MB   | ######################                |  60%






libgoogle-cloud-2.12 | 29.9 MB   | ##########                            |  27%
libarrow-11.0.0      | 16.8 MB   | #################8                    |  48%

libboost-headers-1.8 | 13.2 MB   | #######################               |  62%







libabseil-20230802.1 | 1.1 MB    | ################################      |  87%






libboost-1.84.0      | 1.8 MB    | ##########################6           |  72%








libgoogle-cloud-2.12 | 29.9 MB   | ##########4                           |  28%
libarrow-11.0.0      | 16.8 MB   | ##################8                   |  51%

libboost-headers-1.8 | 13.2 MB   | ########################              |  65%






libboost-1.84.0      | 1.8 MB    | ##################################1   |  92%








orc-1.9.2            | 397 KB    | ############################3         |  77%

libboost-headers-1.8 | 13.2 MB   | #########################             |  68%
libgoogle-cloud-2.12 | 29.9 MB   | ##########9                           |  29%










libthrift-0.19.0     | 323 KB    | #8                                    |   5%









libevent-2.1.12      | 391 KB    | #5                                    |   4%






libboost-1.84.0      | 1.8 MB    | ##################################### | 100%

libboost-headers-1.8 | 13.2 MB   | ##########################4           |  71%
libgoogle-cloud-2.12 | 29.9 MB   | ###########6                          |  31%








orc-1.9.2            | 397 KB    | ##################################### | 100%
libarrow-11.0.0      | 16.8 MB   | #####################5                |  58%

libboost-headers-1.8 | 13.2 MB   | ###########################4          |  74%











aws-crt-cpp-0.26.1   | 213 KB    | ##7                                   |   8%




libgoogle-cloud-2.12 | 29.9 MB   | ############1                         |  33%










libthrift-0.19.0     | 323 KB    | ##################################### | 100%










libthrift-0.19.0     | 323 KB    | ##################################### | 100%












aws-c-common-0.9.12  | 199 KB    | ##9                                   |   8%









libevent-2.1.12      | 391 KB    | ##################################### | 100%









libevent-2.1.12      | 391 KB    | ##################################### | 100%







libabseil-20230802.1 | 1.1 MB    | ##################################### | 100%
libarrow-11.0.0      | 16.8 MB   | ######################4               |  61%

libboost-headers-1.8 | 13.2 MB   | ############################6         |  77%











aws-crt-cpp-0.26.1   | 213 KB    | ##################################### | 100%











libgoogle-cloud-2.12 | 29.9 MB   | ############6                         |  34%












aws-c-common-0.9.12  | 199 KB    | ##################################### | 100%













libre2-11-2023.09.01 | 167 KB    | ###5                                  |  10%














aws-c-http-0.8.0     | 148 KB    | ####                                  |  11%













libre2-11-2023.09.01 | 167 KB    | ##################################### | 100%

libboost-headers-1.8 | 13.2 MB   | #############################7        |  80%
libgoogle-cloud-2.12 | 29.9 MB   | #############1                        |  35%














aws-c-http-0.8.0     | 148 KB    | ##################################### | 100%















aws-c-io-0.14.3      | 134 KB    | ####4                                 |  12%
















gflags-2.2.2         | 125 KB    | ####7                                 |  13%

libboost-headers-1.8 | 13.2 MB   | ##############################9       |  84%
libarrow-11.0.0      | 16.8 MB   | ########################2             |  66%















aws-c-io-0.14.3      | 134 KB    | ##################################### | 100%
















libgoogle-cloud-2.12 | 29.9 MB   | #############7                        |  37%

















aws-c-mqtt-0.10.1    | 115 KB    | #####1                                |  14%


















libutf8proc-2.8.0    | 101 KB    | #####8                                |  16%

















aws-c-mqtt-0.10.1    | 115 KB    | ##################################### | 100%
libarrow-11.0.0      | 16.8 MB   | #########################3            |  68%

libboost-headers-1.8 | 13.2 MB   | ################################3     |  87%


















libgoogle-cloud-2.12 | 29.9 MB   | ##############2                       |  39%



















glog-0.6.0           | 95 KB     | ######2                               |  17%




















aws-c-s3-0.5.0       | 88 KB     | ######7                               |  18%



















glog-0.6.0           | 95 KB     | ##################################### | 100%

libgoogle-cloud-2.12 | 29.9 MB   | ##############9                       |  40%
libarrow-11.0.0      | 16.8 MB   | ##########################3           |  71%




















aws-c-s3-0.5.0       | 88 KB     | ##################################### | 100%












In [168]:
In [100]: fec = pd.read_parquet('/Users/deepa/Documents/Projects/WesCh5/pydata-book/datasets/fec/fec.parquet')

Reading Microsoft Excel Files

In [169]:
conda install openpyxl xlrd

Channels:
 - defaults
 - conda-forge
Platform: osx-arm64
Collecting package metadata (repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /Users/deepa/Library/jupyterlab-desktop/jlab_server

  added / updated specs:
    - openpyxl
    - xlrd


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    et_xmlfile-1.1.0           |  py312hca03da5_1          12 KB
    openpyxl-3.0.10            |  py312h80987f9_0         606 KB
    xlrd-2.0.1                 |     pyhd3eb1b0_1          97 KB
    ------------------------------------------------------------
                                           Total:         715 KB

The following NEW packages will be INSTALLED:

  et_xmlfile         pkgs/main/osx-arm64::et_xmlfile-1.1.0-py312hca03da5_1
  openpyxl           pkgs/main/osx-arm64::openpyxl-3.0.10-py312h80987f9_0
  xlrd               pkgs/main/noarch::xlrd-2.0.1-pyhd3eb1b0_1



Downloading and Extracting Packages:
openpyxl-3.0.10      | 606 KB    |                                       |   0%
xlrd-2.0.1           | 97 KB     |                                       |   0%

openpyxl-3.0.10      | 606 KB    | 9                                     |   3%
xlrd-2.0.1           | 97 KB     | ######1                               |  17%
xlrd-2.0.1           | 97 KB     | ##################################### | 100%

et_xmlfile-1.1.0     | 12 KB     | ##################################### | 100%





Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [174]:
!pip install --upgrade openpyxl

Requirement already satisfied: openpyxl in /Users/deepa/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /Users/deepa/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from openpyxl) (1.1.0)

In [175]:
xlsx = pd.ExcelFile("/Users/deepa/Documents/Projects/WesCh678/examples/ex1.xlsx")

ImportError: Pandas requires version '3.1.0' or newer of 'openpyxl' (version '3.0.10' currently installed).